.about-logo-container {
	display: flex;
	justify-content: left;
	padding-top: 45px;
}

.about-logo {
	display: flex;
	position: fixed;
	border: 1px solid white;
	border-radius: 50%;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	top: 4vh;
}

.about-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	padding-top: 120px;
}

.about-main {
	display: flex;
}

.about-right-side {
	flex-basis: 900px;
}

.about-title {
	width: 100% !important;
	align-items: center;
}

.about-subtitle {
	width: 80% !important;
	text-align: justify;
	align-items: center;
}

.about-left-side {
	display: flex;
	flex-direction: column;
	flex-basis: 300px;
}

.about-image-container {
	width: 370px;
}

.homepage-works {
	flex-basis: 600px;
	padding-top: 30px;
}

.about-image-wrapper {
	display: inline-block;
	overflow: hidden;
	width: 100%;
	border-radius: 10%;
	transform: rotate(3deg);
}

.about-image-wrapper img {
	display: block;
	width: 100%;
}

.about-socials {
	padding-top: 50px;
	padding-bottom: 50px;
}

.about-socials-mobile {
	display: none;
}

@media (max-width: 1024px) {
	.about-logo {
		z-index: 100;
	}

	.about-main {
		flex-direction: column;
	}

	.about-subtitle {
		padding-top: 20px !important;
		align-items: center;
	}

	.about-left-side {
		flex-basis: 100%;
		order: 1;
		align-items: center;
	}

	.about-right-side {
		flex-basis: 100%;
		order: 2;
	}

	.about-image-container {
		padding-bottom: 40px;
	}

	.about-socials {
		display: none;
	}

	.about-socials-mobile {
		padding-top: 30px;
		display: flex;
	}
}

@media (max-width: 600px) {
	.about-container {
		padding-top: 60px;
	}

	.about-image-container {
		width: 80%;
	}

	.about-right-side {
		flex-basis: 100%;
		width: 100% !important;
		max-width: 100%;
		display: inline-block;
		overflow: hidden;
		align-items: center !important;
		text-align: center !important;
	}
	.about-subtitle {
		align-items: center !important;
		display: inline-block;
	}

	.about-title {
		align-items: center !important;
	}

	.homepage-works {
		align-items: center !important;
		display: inline-block;
		overflow: hidden;
	}
}

.show-skills-button {
	position: relative;
	color: white;
	background: linear-gradient(90deg, var(--link-color), var(--link-color));
	width: 20%;
	height: 40px;
	font-family: var(--tertiary-font);
	text-align: center;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease;
	overflow: hidden;
	z-index: 1;
}

.show-skills-button::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.1);
	transform: scale(0.1, 1);
	transition: all 0.3s ease;
	z-index: 0;
	opacity: 0;
}

.show-skills-button:hover::before {
	opacity: 1;
	transform: scale(1, 1);
}

.show-skills-button:hover {
	transform: translateY(-3px);
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
	color: var(--link-color);
	background: white;
}

.show-skills-button:active {
	transform: translateY(1px);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
	.show-skills-button {
		width: 40%;
	}
}

.about-skills-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 5vh;
	margin: 0;
	padding: 0;
	margin-top: 20px;
	background-color: none;
}

/**/

.about-modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
	backdrop-filter: blur(4px);
	padding: 1rem;
	box-sizing: border-box;
}

.about-modal-content {
	border-radius: 12px;
	width: 100%;
	max-width: 900px;
	height: 80vh;
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: hidden;
	box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
	animation: fadeInZoom 0.3s ease-out;
	background-color: #fafafa;
}

.about-modal-header {
	display: flex;
	justify-content: flex-end;
	background-color: var(--white-color);
	padding: 10px 12px;
	border-bottom: 1px solid #ddd;
}

.about-close-button {
	background-color: transparent;
	border: none;
	font-size: 20px;
	cursor: pointer;
	color: var(--link-color);
	font-weight: bold;
	transition: transform 0.2s ease;
}

.about-close-button:hover {
	transform: scale(1.2);
	color: var(--nonary-color);
}

.about-modal-body {
	flex: 1;
	overflow: hidden;
	overflow-y: scroll;
	scroll-behavior: smooth;
}

@keyframes fadeInZoom {
	0% {
		opacity: 0;
		transform: scale(0.9);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes fadeOutZoom {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(0.9);
	}
}

.about-modal-enter {
	animation: fadeInZoom 0.3s ease-out forwards;
}

.about-modal-exit {
	animation: fadeOutZoom 0.3s ease-in forwards;
}
